.imp{width:1263px;height:3330px;background:orange;margin:0 auto;}
.imp-l{width:242px;height:3330px;background:red;float:left;}
.imp-s{width:186px;height:1250px;border:1px solid #ffeaea;margin-left:32px;}
.imp-s h4{width:170;height:23px;background:#ed969a;border:1px solid #ffeaea;padding-top:11px;padding-left:16px;margin-top:8px;}
.imp-s ul p{font-size: 13px;line-height: 28px;margin-left:16px;}
.imp-s ul li{font-size: 12px;line-height: 28px;margin-left: 25px;}
.imp-r{width:1020px;height:3330px;background:green;float:left;}
.imp-t{width:695px;height:290px;border:1px solid #ed969a;margin-left:22px;margin-top:8px;}
.imp-t p{width:679px;height:34pxpx;border-top:1px solid #ed969a;padding-left:16px;line-height:36px;color:#aa0009;background:#fff0f1; }
.imp-x{width:186px;height:2080px;border:1px solid #ffeaea;margin-left:32px;}
.imp-x h4{width:170;height:23px;background:#ed969a;border:1px solid #ffeaea;padding-top:11px;padding-left:16px;margin-top:8px;}
.imp-x dd{font-size: 12px;line-height: 18px;}



























