
/*main-----------------------------------------------------------------------------*/
.main{
        width:1209px;
        height:576px;
        margin:0 auto;
        padding-left:27px;}
.main1{
        width:488px;
        height:576px;
        float:left;
        border:1px solid #e4e4e4;}
.main2{
        float:left;
        height:576px;
        width:712px;
        border-left: none;
        border:1px solid #e4e4e4;}
.main1 p{
        width:466px;height:46px;
        line-height:60px;
        font-size:16px;
        padding-left:20px;
        border:1px solid #e4e4e4;}
.main1 p span{
        color:#d0000b;
        font-size:11px;
        margin-left:10px;}
.main1 div{
        margin-top:12px;
        margin-left:44px;}
.main1 div button{
        background:#e35d1d;
        border:none;}
.main1 div span{
        color:#007dda;
        font-size:12px;
        margin-left:13px;}
.main2 p{
        width:690px;
        height:46px;
        line-height:60px;
        font-size:16px;
        padding-left:20px;
        border:1px solid #e4e4e4;
        
    }
.main2 span{
		display:none
}
.main2 div{
        margin-top:24px;
        margin-left:44px;}
.one{margin-left:6px;}

.are{
        width:537px;
        height:118px;}
.code {
		font-family: Arial;
		font-style: italic;
		color: Red;
		border: 0;
		padding: 2px 3px;
		letter-spacing: 3px;
		font-weight: bolder;
}
			
.unchanged {
		border: 0;
}
































